$text-color: darkgoldenrod;
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Multimedia/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}